<div class="source">
  <div class="source-title">
    <%= link_to source.title, source_path(source.id) %>
  </div>
  <div class="source-grade">
    <%= source.grade.name %>
  </div>
  <% if user_signed_in? %>
    <% unless current_user.own?(source) %>
      <div id="like-button-<%= source.id %>">
        <%= render partial: "likes/like", locals: {source: source} %>
      </div>
    <% end %>
  <% end %>
</div>