<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1><%= @user.name %>様、俺メモへようこそ。</h1>
    <p>俺メモへのユーザー登録が完了しました。</p>
    <p>
      URL:<%= @url %>
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>