<div class="p-3">
  <h2>チャットルーム一覧</h2>

  <div class="rooms">
    <% @rooms.each do |room| %>
      <div class="room p-2">
        <%= link_to "#{room.user.name}さんとのチャット", room_path(room.room_id) %>
      </div>
    <% end %>
  </div>
</div>