<p><%= @resource.name %>様</p>

<p>パスワード再設定のリクエストを承りました。</p>
<p>下記のリンクより、パスワードを再設定してください。</p>
<p>リンクの有効期限は1時間です。</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし本メールにお心当たりのない場合は、無視していただいて構いません。</p>