/*
グローバル
*/
*{
  text-decoration: none;
  list-style: none;
  color: inherit;
}

/*
ヘッダー
*/
.header{
  height: 10vh;
  width: 100vw;
  background-color: #f5deb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left{
  margin-left: 10%;
}
.header-right{
  margin-right: 10%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.header-list{
  font-style: small;
}

/*
メイン
*/
.main{
  height: 80vh;
  width: 100vw;
  overflow: scroll;
  background-color: #fafad2;
}
.grid{
  margin: auto;
  max-width: 50vw;
}

/*
検索ボックス
*/
.search-box{
  border: 1px solid #666;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.search-headline{
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.form-parts.search-inp{
  width: 100%;
  margin: auto;
}
.form-parts.search-inp > .input-text,
.form-parts.search-inp > .input-select{
  width: 50%;
  padding: 5px;
}
.search-submit{
  margin-top: 5px;
}
.search-submit > .btn{
  width: 15%;
  background-color: greenyellow;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

/*
記事(一覧)
*/
.source{
  background-color: #fff;
  border: 1px solid #666;
  padding: 1%;
  margin: 1% 0;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.source-bottom-el{
  display: block;
  margin-left: 5%;
  max-height: 100%;
  min-width: 15%;
  font-size: small;
}
.source-bottom-box{
  display: flex;
}
.source-title{
  font-size: large;
  font-weight: bold;
}
.like-button{
  padding: 0;
  color: #ffd700;
}

/*
フッター
*/
.footer{
  position: absolute;
  width: 100vw;
  height: 10vh;
  background-color: #f5deb3;
}
.footer-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-button{
  max-width: 40px;
  max-height: 80%;
  margin: 0 15px;
  font-size: small;
}


/*
画像プレビュー・複数画像投稿
*/
#previews{
  display: flex;
}

.preview{
  margin-right: 30px;
}

.image-delete-button{
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* コメント */
.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
}

.comment p{
  margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}

/*
DM
*/
.mine-message{
  background-color: aqua;
}

.message{
  background-color: #666;
}