@charset "utf-8";


/* 
  Base
*/
body{
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
label, input ,textarea, button, select{
  cursor: pointer;
}
ul {
  padding-inline-start: 0;
}
button{
  border: 0;
}
p{
  margin-block-start: 0;
  margin-block-end: 0;
}

/*
グローバル
*/
*{
  text-decoration: none;
  list-style: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* 入力系 */
.form-box{
  border: 1px solid #666;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
.field{
  width: 100%;
  margin: 1% auto 0;
}
input,select{
  width: 50%;
  padding: 5px;
}
textarea{
  width: 100%;
}
.actions{
  margin-top: 5px;
}
.btn{
  width: fit-content;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5deb3;
}

/*
ログイン
*/
#user_remember_me{
  width: auto;
}

/*
ヘッダー
*/
.header{
  height: 10vh;
  width: 100vw;
  background-color: #f5deb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left{
  margin-left: 10%;
}
.logo{
  font-weight: bold;
  font-size: large;
}
.header-right{
  margin-right: 10%;
  /* width: 50%; */
  display: flex;
  justify-content: space-around;
}
/* .header-list{
  font-style: small;
} */
.header-btn{
  border: 1px solid #666;
  background-color: gold;
  display: block;
  padding: 5px;
}

/*
フッター
*/
.footer{
  position: absolute;
  width: 100vw;
  height: 10vh;
  background-color: #f5deb3;
}
.footer-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-button{
  width: 7em;
  /* max-height: 80%; */
  /* height: 80%; */
  margin: auto 0;
  font-size: small;
  text-align: center;
  cursor: pointer;
}

.footer-icon, .footer-avator{
  height: 29px;
  width: 29px;
  /* border-radius: 50%;
  overflow: hidden; */
}

.footer-icon-caption {
  font-size: 13px;
}

/* 
開発者より
*/
.engineer-message{
  width: 100%;
  margin: 15px auto 15px;
  padding: 2%;
  background-color: white;
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
}

.indent{
  margin-left: 1em;
}

.engineer-sign{
  text-align: end;
  font-size: larger;
}

/*
メイン
*/
.main{
  height: 80vh;
  width: 100vw;
  overflow: scroll;
  background-color: #fafad2;
}
.grid{
  margin: auto;
  max-width: 80vw;
}

/*
検索ボックス
*/
.actions > .search-btn{
  background-color: #f5deb3;
}

/*
記事(一覧)
*/
.source{
  background-color: #fff;
  border: 1px solid #666;
  padding: 1%;
  margin: 1% 0;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.source-bottom-el{
  display: block;
  margin-left: 5%;
  max-height: 100%;
  min-width: 15%;
  font-size: small;
}
.source-bottom-box{
  display: flex;
}
.source-title{
  font-size: large;
  font-weight: bold;
}
.like-button{
  padding: 0;
  color: #ffd700;
}

/*
新規投稿・編集
*/
.btn.img-btn{
  width: auto;
  padding: 1%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

/*
詳細
*/
.grid.grid-col-2 {
  border: 1px solid #666;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
.edit-and-destroy-buttons{
  margin: 1em 0;
  text-align: right;
}
.edit-btn{
  border: 1px solid #666;
  padding: 1%;
  background-color: #f5deb3;
}
.delete-btn{
  border: 1px solid #666;
  padding: 1%;
  background-color: #fff;
}
.source-caption{
  text-align: right;
}
.source-images{
  margin-top: 1%;
}
.comment-form-box{
  border: none;
}

/*
モーダルCSS
*/
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


/*
画像プレビュー・複数画像投稿
*/
#previews{
  display: flex;
}

.preview{
  margin-right: 30px;
}

.preview-image{
  height: 40px;
  width: 40px;
}

.image-delete-button{
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* コメント */
.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
}

.comment p{
  margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}

/*
DM
*/
.room,.user{
  background-color: #fff;
  border: 1px solid #666;
  padding: 1%;
  margin: 1% 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.message-main{
  border-radius: 10px;
  overflow: hidden; 
}

.messages{
  height: 55vh;
  overflow: scroll;
  background-color: white;
  padding: 1%;
  width: 100%;
}

.mine-message{
  margin: 10px 0 10px auto;
  max-width: 60%;
}

.mine-message p{
  display: inline-block;
  position: relative;
  margin: 0 10% 0 0;
  padding: 8px;
  border-radius: 12px;
  background-color: #f5deb3;;
  font-size: 15px;
}

.mine-message p::after{
  content: "";
  position: absolute;
  top: 3px;
  right: -15px;
  border: 8px solid transparent;
  border-left: 18px solid #f5deb3;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.others-message{
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.others-message.face-icon-dm{
  float: left;
  margin-right: -50px;
  width: 40px;
}

.others-message.face-icon-dm img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.message{
  max-width: 40%;
  text-align: left;
}

.says{
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0 0 0 10%;
  padding: 10px;
  border-radius: 12px;
  background-color: lightgray;
}

.says::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -15px;
  border: 8px solid transparent;
  border-right: 18px solid lightgray;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p{
  margin: 0;
  padding: 0;
}

.dm-field{
  display: flex;
  justify-content: space-around;
}

.field > .room-field{
  width: 95%;
}

.dm-field > .actions {
  width: fit-content;
}

.actions > .room-actions{
  height: 90%;
  width: 100%;
  background-color: #f5deb3;
  padding: 0.5em;
}

/* 
マイページ
*/
.mypage{
  background-color: white;
  margin: 1% 0;
  padding: 5%;
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
}

.mypage-btn, .follow{
  width: fit-content;
  display: block;
  padding: 5px;
  margin: 5px 0;
}

.unfollow, .logout{
  width: fit-content;
  height: 100%;
  display: block;
  padding: 5px;
  background-color: lightgray;
}

.mylists{
  width: 100%;
}

.tab-list{
  display: flex;
  width: 100%;
  padding: 0;
}

.tab{
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #333;
  cursor: pointer;
  border: solid 1px #666;
}

/* tabがactiveのとき */
.tab-active{
  color: #333;
  background-color: #f5deb3;
  transition: all 0.2s ease-in-out;
}

/* tabの中身、最初は非表示 */
.tabbox{
  display: none;
  padding: 0 15px;
}

.box-show{
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


/* 
レスポンシブ設定
*/
/* タブレット */
@media (max-width: 1024px) {
  .footer-icon, .footer-avator{
    height: 26px;
    width: 26px;
    /* border-radius: 50%;
    overflow: hidden; */
  }
  
  .footer-icon-caption {
    font-size: 13px;
  }
}

/* スマホ */
@media (max-width: 599px) {
  .footer-icon, .footer-avator{
    height: 25px;
    width: 25px;
    /* border-radius: 50%;
    overflow: hidden; */
  }
  
  .footer-icon-caption {
    font-size: 12px;
  }

  input,select{
    width: 80%;
    padding: 5px;
  }

  .engineer-message{
    padding: 5%;
  }
}