@charset "utf-8";

/* 
  Base
*/
body{
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
label, input ,textarea, button, select{
  cursor: pointer;
}
button{
  border: 0;
}

/*
グローバル
*/
*{
  text-decoration: none;
  list-style: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* 入力系 */
.form-box{
  border: 1px solid #666;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
.field{
  width: 100%;
  margin: 1% auto 0;
}
input,select{
  width: 50%;
  padding: 5px;
}
.actions{
  margin-top: 5px;
}
.btn{
  width: 15%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5deb3;
}

/*
ログイン
*/
#user_remember_me{
  width: auto;
}

/*
ヘッダー
*/
.header{
  height: 10vh;
  width: 100vw;
  background-color: #f5deb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left{
  margin-left: 10%;
}
.header-right{
  margin-right: 10%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.header-list{
  font-style: small;
}
/*
フッター
*/
.footer{
  position: absolute;
  width: 100vw;
  height: 10vh;
  background-color: #f5deb3;
}
.footer-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-button{
  max-width: 100px;
  max-height: 80%;
  margin: 0 15px;
  font-size: small;
  text-align: center;
  cursor: pointer;
}

.footer-avator{
  max-width: 100px;
  max-height: 80%;
  border-radius: 50%;
  overflow: hidden;
}

/*
メイン
*/
.main{
  height: 80vh;
  width: 100vw;
  overflow: scroll;
  background-color: #fafad2;
}
.grid{
  margin: auto;
  max-width: 80vw;
}

/*
検索ボックス
*/
.actions > .search-btn{
  background-color: greenyellow;
}

/*
記事(一覧)
*/
.source{
  background-color: #fff;
  border: 1px solid #666;
  padding: 1%;
  margin: 1% 0;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.source-bottom-el{
  display: block;
  margin-left: 5%;
  max-height: 100%;
  min-width: 15%;
  font-size: small;
}
.source-bottom-box{
  display: flex;
}
.source-title{
  font-size: large;
  font-weight: bold;
}
.like-button{
  padding: 0;
  color: #ffd700;
}

/*
新規投稿・編集
*/
.btn.img-btn{
  width: auto;
  padding: 1%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

/*
詳細
*/
.grid.grid-col-2 {
  border: 1px solid #666;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
.edit-and-destroy-buttons{
  text-align: right;
}
.edit-btn{
  border: 1px solid #666;
  padding: 1%;
  background-color: #f5deb3;
}
.delete-btn{
  border: 1px solid #666;
  padding: 1%;
  background-color: #fff;
}
.source-caption{
  text-align: right;
}
.source-images{
  margin-top: 1%;
}
.comment-form-box{
  border: none;
}


/*
画像プレビュー・複数画像投稿
*/
#previews{
  display: flex;
}

.preview{
  margin-right: 30px;
}

.image-delete-button{
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* コメント */
.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
}

.comment p{
  margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}

/*
DM
*/
.room,.user{
  background-color: #fff;
  border: 1px solid #666;
  padding: 1%;
  margin: 1% 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.message-main{
  border-radius: 10px;
  overflow: hidden; 
}

.messages{
  height: 55vh;
  overflow: scroll;
  background-color: white;
  padding: 1%;
  width: 100%;
}

.mine-message{
  margin: 10px 0 10px auto;
  max-width: 60%;
}

.mine-message p{
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 12px;
  background-color: #f5deb3;;
  font-size: 15px;
}

.mine-message p::after{
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #f5deb3;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.others-message{
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.others-message.face-icon-dm{
  float: left;
  margin-right: -50px;
  width: 40px;
}

.others-message.face-icon-dm img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.message{
  max-width: 40%;
  text-align: left;
}

.says{
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  border-radius: 12px;
  background-color: lightgray;
}

.says::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid lightgray;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p{
  margin: 0;
  padding: 0;
}

.dm-field{
  display: flex;
  justify-content: space-around;
}

.field > .room-field{
  width: 95%;
}

.dm-field > .actions {
  width: 10%;
}

.actions > .room-actions{
  height: 90%;
  width: 100%;
  background-color: #f5deb3;
  padding: 2%;
}

/* 
マイページ
*/
.tab{
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.tab:first-child{
  border-left: none;
}

/* tabがactiveのとき */
.tab-active{
  color: #fff;
  background-color: #19b5d1;
  transition: all 0.2s ease-in-out;
}

/* tabの中身、最初は非表示 */
.tabbox{
  display: none;
  pad: 15px;
}

.box-show{
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.tab-list{}
.list-unstyled{}
.tabbox-contents{}